<section class="container editor">
    <h2 class="editor__title">Revolutionary editor</h2>
    <p class="editor__text">Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate
        dignissim.
        Sed id metus id quam
        auctor molestie eget ut augue.</p>
    <ul class="editor__list">
        <li class="editor__list__item editor-link ">
            <a class="editor-link__action" href="#">
                <svg class="editor-link__action__img" aria-hidden="true" height="16" width="16"
                     data-view-component="true">
                    <path fill-rule="evenodd"
                          d="M8.06 2C3 2 0 8 0 8s3 6 8.06 6C13 14 16 8 16 8s-3-6-7.94-6zM8 12c-2.2 0-4-1.78-4-4 0-2.2 1.8-4 4-4 2.22 0 4 1.8 4 4 0 2.22-1.78 4-4 4zm2-4c0 1.11-.89 2-2 2-1.11 0-2-.89-2-2 0-1.11.89-2 2-2 1.11 0 2 .89 2 2z">
                    </path>
                </svg>
                Watch
            </a>
            <a class="editor-link__count" href="#">1,397</a>
        </li>
        <li class="editor__list__item editor-link  ">
            <a class="editor-link__action" href="#">
                <svg class="editor-link__action__img" aria-hidden="true" height="16" viewBox="0 0 16 16" width="16"
                     data-view-component="true">
                    <path fill-rule="evenodd"
                          d="M14 6l-4.9-.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14 7 11.67 11.33 14l-.93-4.74L14 6z"></path>
                </svg>
                Star
            </a>
            <a class="editor-link__count" href="#">21,038</a>
        </li>
        <li class="editor__list__item editor-link ">
            <a class="editor-link__action" href="#">
                <svg class="editor-link__action__img" aria-hidden="true" height="16" viewBox="0 0 16 16" width="16"
                     data-view-component="true">
                    <path d="M5 5.372v.878c0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75v-.878a2.25 2.25 0 1 1 1.5 0v.878a2.25 2.25 0 0 1-2.25 2.25h-1.5v2.128a2.251 2.251 0 1 1-1.5 0V8.5h-1.5A2.25 2.25 0 0 1 3.5 6.25v-.878a2.25 2.25 0 1 1 1.5 0ZM5 3.25a.75.75 0 1 0-1.5 0 .75.75 0 0 0 1.5 0Zm6.75.75a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Zm-3 8.75a.75.75 0 1 0-1.5 0 .75.75 0 0 0 1.5 0Z"></path>
                </svg>
                Fork
            </a>
            <a class="editor-link__count" href="#">4.391</a>
        </li>
    </ul>
</section>