<div class="main-fork">
	<div class="container">
		<h1 class="main-fork__title">People Are Talking About Fork</h1>
		<div class="main-fork__container">
			<div class="main-fork__item">
				<p class="main-fork__item-image"><img src="./img/fork2.png" alt=""></p>
				<p class="main-fork__item-text">Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet.
					Proin id dignissim magna. Sed varius urna et pulvinar venenatis. </p>
			</div>
			<div class="main-fork__item">
				<p class="main-fork__item-image"><img src="./img/fork3.png" alt=""></p>
				<p class="main-fork__item-text">Donec euismod dolor ut ultricies consequat. Vivamus urna ipsum,
					rhoncus
					molestie neque ac, mollis eleifend nibh. </p>
			</div>
			<div class="main-fork__item">
				<p class="main-fork__item-image"><img height="50px" src="./img/fork4.png" alt=""></p>
				<p class="main-fork__item-text">In efficitur in velit et tempus. Duis nec odio dapibus, suscipit erat
					fringilla, imperdiet nibh. Morbi tempus auctor felis ac vehicula. </p>
			</div>
			<div class="main-fork__item">
				<p class="main-fork__item-image"><img src="./img/fork5.png" alt=""></p>
				<p class="main-fork__item-text">Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet.
					Proin id dignissim magna. Sed varius urna et pulvinar venenatis. </p>
			</div>
			<div class="main-fork__item">
				<p class="main-fork__item-image"><img src="./img/fork1.png" alt=""></p>
				<p class="main-fork__item-text">Praesent ut eros tristique, malesuada lectus vel, lobortis massa.
					Nulla
					faucibus lorem id arcu consequat faucibus. </p>
			</div>
			<div class="main-fork__item">
				<p class="main-fork__item-image"><img src="./img/fork6.png" alt=""></p>
				<p class="main-fork__item-text">Fusce pharetra erat id odio blandit, nec pharetra eros venenatis.
					Pellentesque porttitor cursus massa et vestibulum. </p>
			</div>

		</div>
		<p class="main-fork__footer">Duis lobortis arcu sed arcu tincidunt feugiat. Nulla nisi mauris, facilisis
			vitae aliquet id, imperdiet quis nibh. Donec eget elit eu libero tincidunt consequat nec elementum
			orci. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
		<p class="main-fork__underline"></p>
	</div>
</div>