<header class="header">
	<div class="container">
		<div class="header__wrapper">
			<a href="#" class="header__logo">
				<a href="#" class="header__logo">
					<div class="header__logo--image"></div>
					<p class="header__logo--text">FORKIO</p>
				</a>
			</a>
			<div class="header__burger">
				<span class="header__burger-item"></span>
			</div>
			<nav class="header__menu">
				<ul class="header__list">
					<li class="">
						<a href="#" class="header__link">Overview</a>
					</li>
					<li class="">
						<a href="#" class="header__link">About Fork</a>
					</li>
					<li class="">
						<a href="#" class="header__link">Buying Options</a>
					</li>
					<li class="">
						<a href="#" class="header__link">Support</a>
					</li>
				</ul>
			</nav>
			<a href="" class="header__button">Buy Now</a>
		</div>
		<h1 class="header__main-title">Fork App</h1>
		<p class="header__main-subtitle">A real gamechanger in the world of web development</p>
		<p class="header__version">v. 2.8 For Mac and Windows</p>
	</div>
</header>
<div class="container">
	<div class="center__button">
		<a class="btn" href="#">Download For Free Now</a>
		<p class="center__button-item">Unlimited 30-Days Trial Period</p>
	</div>
</div>
</div>