<section class="Here">
    <div class="container here-content">
        <h2 class="Here-title__hidden"> &lt;Here is what you get&gt;</h2>
        <ul class="here-content__list">
            <li class="here-content__list__item">
                <img class="here-content__list__item__img"
                     src="./img/here/here1.png"
                     alt="#"
                     width="111"
                     height="64">
                <div class="here-text">
                    <h3 class="here-text__subtitle">Creatred to Make The Web Better</h3>
                    <p class="here-text__paragraph">Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui
                        laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue.
                    </p>
                </div>
            </li>
            <li class="here-content__list__item">
                <img class="here-content__list__item__img"
                     src="./img/here/here2.png"
                     alt="#"
                     width="90"
                     height="80">
                <div class="here-text">
                    <h3 class="here-text__subtitle">Incredibly Powerful Tool</h3>
                    <p class="here-text__paragraph">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis
                        odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam
                        erat
                        volutpat.
                    </p>
                </div>
            </li>
            <li class="here-content__list__item">
                <img class="here-content__list__item__img"
                     src="./img/here/here3.png"
                     alt="#"
                     width="60"
                     height="84">
                <div class="here-text">
                    <h3 class="here-text__subtitle">Experimental Stuff</h3>
                    <p class="here-text__paragraph">AMaecenas eu dictum felis, a dignissim nibh. Mauris rhoncus
                        felis
                        odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam
                        erat
                        volutpat.
                    </p>
                </div>
            </li>
            <li class="here-content__list__item">
                <img class="here-content__list__item__img"
                     src="./img/here/here4.png"
                     alt="#"
                     width="71"
                     height="71">
                <div class="here-text">
                    <h3 class="here-text__subtitle">Creatred to Make The Web Better</h3>
                    <p class="here-text__paragraph">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis
                        odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam
                        erat
                        volutpat.
                    </p>
                </div>
            </li>
        </ul>
        <div class="here__sidebar">
            <h2 class="here__sidebar__title"> &lt;Here is what you get&gt; </h2>
            <img class="here__sidebar__img" src="./img/here/here.png" alt="#" width="700">
            <img class="here__sidebar__img--mobile" src="./img/here/here-mobile.png" alt="#" width="317">
        </div>

    </div>
</section>