<section class="price">
    <div class="container">
        <h2 class="price__title">Fork Subscription Pricing</h2>
        <ul class="price__list">
            <li class="price__item">
                <p class="price__item__title">Students</p>
                <p class="price__item__price">$29</p>
                <p class="price__item__period">per month</p>
                <p class="price__item__description price__item__description-margin ">Personal License</p>
                <a class="price__item__btn" href="#">purchase</a>
            </li>
            <li class="price__item"><p class="price__item__title">professional</p>
                <p class="price__item__price">$59</p>
                <p class="price__item__period">per month</p>
                <p class="price__item__description">Professional License Email Support</p>
                <a class="price__item__btn" href="#">purchase</a>
            </li>
            <li class="price__item price__item-big">
                <p class="price__item__title price__item-big__title ">agency</p>
                <p class="price__item__price price__item-big__price">$99</p>
                <p class="price__item__period price__item-big__period">per month</p>
                <p class="price__item__description price__item-big__description">1-12 Team Members Phone Support</p>
                <a class="price__item__btn price__item-big__btn" href="#">purchase</a>
            </li>
            <li class="price__item">
                <p class="price__item__title">enterprise</p>
                <p class="price__item__price">$159</p>
                <p class="price__item__period">per month</p>
                <p class="price__item__description">Unlimited Team Members 24/ 7 Phone Support</p>
                <a class="price__item__btn" href="#">purchase</a>
            </li>
        </ul>
    </div>
</section>