.editor {
  padding-bottom: 70px;
  padding-top: 129px;
  @media (max-width: 992px) {
    padding-bottom: 98px;
    padding-top: 129px;
  }
  @media (max-width: 480px) {
    padding-bottom: 88px;
    padding-top: 130px;
  }

  &__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 54px;
    line-height: 54px;
    color: $editor-title;
    margin: 0;
    @media (max-width: 992px) {
      font-size: 42px;
      line-height: 42px;
    }
    @media (max-width: 480px) {
      font-size: 26px;
      line-height: 28px;
    }
  }

  &__text {
    text-align: center;
    font-weight: 400;
    font-size: 21px;
    line-height: 32px;
    color: $editor-text;
    padding: 0 90px;
    margin: 35px 0 13px;
    @media (max-width: 992px) {
      padding: 0;
      font-size: 18px;
      margin: 33px 0 24px;
    }
    @media (max-width: 480px) {
      margin: 27px 0 36px;
      font-size: 13px;
      line-height: 20px;

    }

  }

  &__list {
    padding-left: 0;
    @include flex-center;
    gap: 10px;
    @media (max-width: 480px) {
      width: 100%;
      flex-wrap: wrap;
      row-gap: 20px;


    }

    &__item {
      @include flex-center;
      border: 1px solid rgba(27, 31, 35, .2);

    }
  }
}

.editor-link {
  &__action {
    @include flex-center;
    background-color: #F4F4F4;

    color: black;
    font-size: 12px;
    font-weight: 600;
    padding: 3px 10px;
    border-right: 1px solid rgba(27, 31, 35, .2);

    &__img {
      margin-right: 3px;
    }
  }

  &__count {
    color: black;
    font-size: 12px;
    font-weight: 600;
    padding: 3px 10px;

  }
}