.main-fork {
	background-image: url(../img/LayerFork.png);
	height: 100%;
	background-size: cover;
	background-position: center center;
	min-width: 100%;
	  &__title {
		 padding-top: 100px;
		 text-align: center;
		 font-weight: 700;
		 font-size: 48px;
		 line-height: 1.04; /* 50/48 */
		 color: #fff;
		 margin-bottom: 100px;
      @media(max-width: 480px) {
			max-width: 712px;
		}
	  }
	  &__container {
		 display: grid;
		 grid-template-columns: 1fr 1fr 1fr;
		 grid-template-rows: 1fr 1fr;
		 grid-gap: 90px;
		 margin-bottom: 100px;
		 @media (max-width: 992px) {
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr 1fr 1fr;
			padding-bottom: 50px;
			grid-gap: 70px;
		 }
		 @media(max-width:480px){
			grid-template-columns: 1fr;
			margin-bottom: 50px;
			grid-gap: 70px;
		 }
	  }
	  &__item-text {
		 
		 text-align: center;
		 font-family: Lato;
		 font-style: italic;
		 font-weight: bold;
		 font-size: 16px;
		 line-height: 24px;
		 color: #fff;
	  } 
	  &__item-image {
		 padding-bottom: 60px;
		 height: 34px;
	  }
	  &__footer {
		 max-width: 900px;
		 display: block;
		 margin-left: auto;
		 margin-right: auto;
		 color: rgb(141, 134, 143);
		 font-size: 16px;
		 line-height: 21px;
		 font-family: Lato;
		 text-align: center;
		 // padding-top: 100px;
		 padding-bottom: 30px;
	  }
	  &__underline {
		 width: 65%;
		 height: 2px;
		 background-color: rgb(141, 134, 143);
		 margin-left: auto;
		 margin-right: auto;
	  }
	}
	.main-fork__item-image  img{
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	}
