.header{
  background: url("../img/header/bg-h.png") no-repeat center center;
  background-size:cover;
}
.header__wrapper{
  display: flex;
}
.header__logo{
  display: flex;
  color: #ffffff;
}
.header__logo--image{
  background-image: url("..//img/header/v.png") ;
  width: 43px;
  height: 41px;
  top: 20px;
  margin-top: 15px;
}
.header__logo--image:hover  {
  background-image: url("..//img/header/vh.png");
}

.header-item:hover{
  color: white;
}

.header__logo--text{
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  color: #8D81AC;
  margin-left: 17px;
  align-self: center;
}
.header__logo--text:hover{
  color: #ffffff;
}
.header__burger{
  display: none;
}
.header__menu{ 
  align-self: center;
  margin-left:auto;
}
.header__list{
  display: flex;
}
.header__link{
  font-size: 16px;
  font-weight: bold;
  color: #8D81AC;
  margin-right: 47px;
}
.header__link:hover{
  color: #FFFFFF;
}
.header__button{
  height: 37px;
  width: 145px;
  color: #FFFFFF;
  background-color: #8D81AC;
  border-radius: 40px;
  border: 2px #8D81AC solid;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding-top: 5px; 
  margin-top: 20px;
  margin-left: 60px;
}

.header__button:hover{
  color: rgba(141, 129, 172, 1);
  background-color: rgba(255, 255, 255, 1);
  transition: all 0.3 ease 0s;
  border: 2px solid rgba(141, 129, 172, 1);
}
.header__main-title{
  font-size: 82px;
  color: #FFFFFF;
  margin-top: 83px;
  font-weight: bold;
}
.header__main-subtitle{
  margin: 19px 0;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  color: #8D81AC;
}
.header__version{
  font-size: 16px;
  color: #848E97;
  padding-bottom: 459px; 
}
.center__button{
  text-align: center;
  margin: -30px;
  .btn{
      border: 1px solid rgba(141, 129, 172, 1);
      background-color: rgba(141, 129, 172, 1);
      color: white;
      padding: 20px 30px;
      font-weight: bold;
      font-size: 21px;
      line-height: 22px;
      border-radius: 50px;
      &.btn:hover{
  color: rgba(141,129,172,1);
  background-color: rgba(255, 255, 255, 1);
  transition: all 0.3 ease 0s;
  border: 2px solid rgba(141,129,172,1);
      }
  }
  .center__button-item{
      padding-top: 40px;
      color:rgba(132, 142, 151, 1);
  }
}

.void{
  height: 100px;
}

.active-menu{
  display: block !important;
}
.header__burger.active-burger:before{
  transform: rotate(45deg);
  top: 5.5px;
  left: 5px;
  width: 45px;
  
}
.header__burger.active-burger:after{
  transform: rotate(-45deg);
  bottom: 10px;
  left:5px;   
  width: 45px;
}

.header__burger.active-burger span{
  transform: scale(0);
}
@media (max-width : 992px){
  .header::before{
    content: "";
    width: 100%;
    height: 118px;
    position: absolute;
    background-color:#27262A;
  }
  .header__menu{
    position: absolute;
    top: 65px;
    width: 90%;
  }
  .header__list{
    justify-content: space-evenly;
  }
  .header__link{
    margin: 0;
  }
  .header__main-title{
    font-size: 72px;
  }
  .header__main-subtitle{
    font-size: 24px;
  }
  .header__version{
    font-size: 14px;
    padding-bottom: 439px; 
  }
  .header__button{
    margin-left: auto;
  }
}

@media (max-width : 480px){
  .header::before{
    height: 84px;
  }
  .header__wrapper{
    padding: 0;
  }
  .header-item{
      display: none;
  }
  .header__logo--text{
    display: none;
  }
  .header__logo--image{
    position: absolute;
    top: 0;
    left: 0;

  }
  .header__button{
    margin-left: 70px;
  }

  .header__burger{
      display: block;
      position: absolute;
      right: 0;
      width: 50px;
      height: 20px;
      top: 25px;
  }
  .header__burger-item{
      width: 100%;
      position: absolute;
      height: 4px;
      background-color: #fff;
      top: 9px;
      left: 0;
      transition: all 0.3s ease 0s;
  }
  .header__burger:before,
  .header__burger:after{
      content: "";
      background-color: #fff;
      position: absolute;
      width: 50px;
      height: 4px;
      transition: all 0.3s ease 0s;
  }
  .header__burger:before{
      top: -2px;
      left: 20px;
      width: 30px;
  }
  .header__burger:after{
      bottom: -4px;
      left: 0;
  }
  .header__menu{
      display: none;
      position: absolute;
      top: 85px;
      left:10%;
      width: 80%;
      height: 400px;
      background-color: 
      rgba(51, 51, 51, 1);
      z-index: 40;
  }
  .header__list{
      display: block;
      padding-left: 0px;
      padding-top: 0px;
      li{
          font-size: 20px;
          padding: 33px 0px 34px 0px;
          font-size: 26px;
          line-height: 26px;
          border-bottom: 3px solid rgba(34, 32, 32, 0.8);
      }
  }
  .header__list li .header__link{
      color: #8D81AC;
      font-weight: normal;
  }
  .header__list li:active {
      border-left: 5px solid #8D81AC;
  }
  .header__list li .header__link:hover {
      color: white;
  }
  .mainFork__container{
      grid-template-columns: 1fr;
      margin-bottom: 50px;
      grid-gap: 70px;
  }

}
