.Here {
  background-color: #F4F4F4;
  padding-top: 94px;
  padding-bottom: 33px;
  @media (max-width: 992px) {
    padding-top: 63px;
    padding-bottom: 0;
    background-color: rgba(0, 0, 0, 0.0001);
  }
  @media (max-width: 480px) {
    padding-top: 32px;
    padding-bottom: 6px;
  }


  .here__sidebar {
    &__title {
      padding-left: 15px;
      text-align: left;
      font-weight: 700;
      font-size: 48px;
      line-height: 50px;
      margin: 0;
      color: $here-title;
      margin-bottom: 18px;
      @media (max-width: 992px) {
        display: none;
      }
    }

    &__img {
      width: 100%;
      @media (max-width: 480px){
        display: none;
      }
    }
    &__img--mobile{
      display: none;
      @media (max-width: 480px){
        display: block;

      }
    }
  }

  .here-content {
    display: flex;
    justify-content: center;
    @media (max-width: 992px) {
      flex-direction: column;
    }

    .Here-title {
      &__hidden {
        display: none;
        @media (max-width: 992px) {
          display: block;
          margin: 0;
          margin-bottom: 50px;
          font-weight: 700;
          font-size: 42px;
          line-height: 44px;
          color: $here-title;
        }
        @media (max-width: 480px) {
          font-size: 32px;
          line-height: 38px;
          margin-bottom: 36px;
        }
      }
    }

    &__list {
      padding-left: 0;
      margin: 0;
      margin-right: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 34px;
      @media (max-width: 992px) {
        margin: 0;
        padding: 0 20px;
        row-gap: 60px;
        margin-bottom: 73px;
      }
      @media (max-width: 480px) {
        padding: 0;
        row-gap: 40px;
        margin-bottom: 64px;
      }

      &__item {
        display: grid;
        grid-template-columns:111px 405px;
        justify-items: center;
        @media (max-width: 992px) {
          display: grid;
          grid-template-columns:111px calc(100% - 111px);
        }
        @media (max-width: 480px) {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

        }

        .here-text {
          text-align: left;
          margin-left: 24px;
          @media (max-width: 480px) {
            margin: 0;
            text-align: center;
          }

          &__subtitle {
            font-weight: 400;
            font-size: 16px;
            line-height: 21px;
            margin: 0;
            margin-bottom: 16px;
            color: $here-subtitle;
            @media (max-width: 992px) {
              margin: 0;
            }
            @media (max-width: 480px){
              margin: 27px 0 14px;
              line-height: 16px;
            }
          }

          &__paragraph {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            margin: 0;
            color: $here-paragraph;
          }
        }
      }
    }
  }

}

