.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  min-width: 320px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  position:relative;
  @media (max-width: 992px) {
    max-width: 768px;
    width: 100%;
  }
  @media (max-width: 480px) {
    max-width: 320px;
    width: 100%;
  }
}