.price {
  background: url("../img/price-bg.png") center/cover no-repeat;
  padding-top: 83px;
  padding-bottom: 97px;

  @media (max-width: 992px) {
    padding-top: 79px;
    padding-bottom: 94px;
  }
  @media (max-width: 480px) {
    padding-top: 2px;
    padding-bottom: 15px;

  }


  &__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 50px;
    color: $price-color;
    margin: 0 0 61px;
    @media (max-width: 992px) {
      font-size: 42px;
      line-height: 44px;
      margin: 0 0 39px;
    }
    @media (max-width: 480px) {
      font-size: 28px;
      line-height: 42px;
      margin: 0 0 32px;
    }
  }

  &__list {
    @include flex-center;
    gap: 15px;
    padding-left: 0;
    margin: 0;
    @media (max-width: 992px) {
      flex-wrap: wrap;

      gap: 30px 25px;
    }
    @media (max-width: 600px) {
      width: auto;
      justify-content: center;
    }
    @media (max-width: 4802px) {
      gap: 18px;
    }

  }

  &__item {
    color: $price-color;
    width: 256px;
    padding-bottom: 37px;


    :first-child {
      background-color: rgba(255, 255, 255, 0.06);
    }

    background-color: rgba(255, 255, 255, 0.11);

    &__title {
      text-transform: uppercase;
      font-weight: 400;
      font-size: 24px;
      line-height: 24px;
      margin: 0;
      padding: 36px 0;

    }

    &__price {
      font-weight: 700;
      font-size: 60px;
      line-height: 90px;
      margin: 0;
      padding-top: 30px;
    }

    &__period {
      margin: 20px 0 73px;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      text-transform: uppercase;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        width: 60px;
        height: 5px;
        background-color: #8D81AC;
        left: 50%;
        transform: translateX(-50%);
        bottom: -38px;
      }
    }

    &__description {
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      margin: 0 0 48px;

    }

    &__description-margin {
      margin-bottom: 66px;
    }

    &__btn {
      display: inline-block;

      padding: 15px 37px;
      background-color: rgba(255, 255, 255, 0.15);
      color: $price-color;
      font-weight: 400;
      font-size: 15px;
      line-height: 15px;
      text-transform: uppercase;
      border-radius: 25px;
    }
  }

  &__item-big {
    background-color: rgba(70, 48, 72, 0.84);
    width: 300px;
    padding-bottom: 47px;

    :first-child {
      background-color: rgba(0, 0, 0, 0.11);
    }

    &__title {
      padding: 43px 0;
    }

    &__price {
      font-size: 82px;
      padding-top: 14px;
    }

    &__period {
      margin: 16px 0 127px;
    }

    &__description {
      margin: 0 25px 83px;
    }

    &__btn {
      font-size: 16px;
      line-height: 18px;
      padding: 19px 48px;
      border-radius: 40px;
    }
  }
}